.left-sidebar {
    flex: 3;
    height: calc(100vh - 50px);
    overflow-y: scroll;
    position: sticky;
    top: 50px;
}

::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}
::-webkit-scrollbar-thumb {
    background-color: rgba(200,200,200,1);
}

.left-wrapper {
    padding: 20px;
}

.left-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

.left-list-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.left-icon {
    margin-right: 10px;
}

.left-button {
    width: 150px;
    border: none;
    padding: 10px;
    border-radius: 8px;
    font-weight: 500;
}

.left-hr {
    margin: 20px 0;
}

.left-friend-list {
    padding: 0;
    margin: 0;
    list-style: none;
}

