.right-sidebar {
    flex: 3.5;
}

.right-wrapper {
    padding: 20px 20px 0 0;
}

.birthday-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.birthday-img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.birthday-text {
    font-weight: 300;
    font-size: 15px;
}

.right-title {
    margin-bottom: 20px;
}

.right-friend-list {
    padding: 0;
    margin-right: 0;
    list-style: none;
}
